* {
  margin: 0;
  padding: 0;
  font-family: Georgia, Palatino, sans-serif;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #f30;
}

a:hover {
  color: #f90;
}

#main {
  padding-top: 10px;
  padding-left: 250px;
}

#main h1 {
  font-weight: bold;
}

#main h1,h2,h3,h4 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

#main p {
  margin: 0.5em;
}

#main em {
   color: red;
}

#main strong {
  color: purple;
}

#main ul {
}

#main ul.li {
  list-style-type: square;
}

#footer {
  position: relative;
  margin-left: 250px;
  padding-top: 1em;
  margin-top: 1em;
  border-top: 1px solid #ccc;
}

#sidebar {
  position: fixed;
  top: 20px;
  left: 10px;
  width: 150px;
  padding: 20px 20px 0 0;
  border-right: 1px solid #ccc;
  text-align: right;
}

#sidebar h2 {
  text-transform: uppercase;
  font-size: 13px;
  color: #333;
  letter-spacing: 1px;
  line-height: 20px;
}

#sidebar ul {
  list-style-type: none;
  margin: 20px 0;
}

#sidebar li {
  font-size: 14px;
  line-height: 20px;
}

pre {
  background-color: #eef;
  width: 80%;
}

code {
  font-family: monospace;
  font-size: 110%;
}
